body{
 	background: #efefef url(/assets/bg_body.png) repeat center top;
 	-webkit-font-smoothing: antialiased;
 	text-rendering: optimizeLegibility;
 }
.container {
	width:100%;
}
.card {
	margin-top: 30px;
	margin-bottom: 10px;
	background: white;
	position: relative;
	padding: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 0px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#qr-connect{
	background:url(http://qrfree.kaywa.com/?l=1&s=8&d=192.168.0.100%2C21) no-repeat center center;
	width:auto;
	height:300px; 
}

.btn {
	-webkit-border-radius:0;
	   -moz-border-radius:0;
			border-radius:0;
}
.btn-lg {
	padding:15px;
}